<!DOCTYPE html>
<html lang="en">

<head>   
    <link rel="stylesheet" href="style.css">
    <title>Beauty Of Nature</title>
</head>

<body>

    <div class="slider">

        
 <div class="main">
    <div class="image bright">
        <img src="img-1.jpg" alt="">
    </div>
    <div class="content">
        <div class="index  ">01</div>
        <div class="heading ">Amazing corners of the planet</div>
        <div class="date " id="live"> 29 feb 2022</div>
        <div class="date video ">
            <div class="watch"></div>
                Watch Promo
        </div>
    </div>
</div>


<div class="main">
    <div class="image">
        <img src="source-of-ganga-2.jpg" alt="">
    </div>
    <div class="content">
        <div class="index  ">02</div>
        <div class="heading ">Bhagirathi at its source. </div>
        <div class="date " id="live">The Bhagirathi River originates at Gaumukh, which is located at the foot of the Gangotri Glacier in the Garhwal Himalayas2</div>
        <div class="date video ">
            <div class="watch"></div>
                Watch Promo
        </div>
    </div>
</div>

<div class="main" id ="main3">
    <div class="image">
        <img src="img-2.jpg" alt="">
    </div>
    <div class="content">
        <div class="index  ">03</div>
        <div class="heading ">Origin of Ganga</div>
        <div class="date " id="live"> </div>
        <div class="date video ">
            <div class="watch"></div>
                Watch Promo
        </div>
    </div>
</div>
             
    </div>     
    <script type="module" src="work.js"></script>
</body>

</html>
